---
import Layout from '../../layouts/Layout.astro';
import Thumbnail from '../../components/Thumbnail';
import Frame from '../../components/Frame';
import CodeBlock from '../../components/CodeBlock.astro';
import { units, unitNames } from '../../scripts/resources';
import { parseFrame } from '../../scripts/frames';

const { unitName } = Astro.params;

const unit = units[unitName];

export const getStaticPaths = async () => {
  return unitNames.map((unitName) => ({ params: { unitName } }));
};
---

<Layout title={unitName}>
  <main>
    <Thumbnail unit={unit} />
    <p class="bg-light">
      <img src={unit.image} class="img-fluid" />
    </p>
    <table class="table table-sm">
      <tbody>
        {
          Object.entries(unit.plist.frames).map(([frameName, frame]) => (
            <tr>
              <th class="align-middle">{frameName}</th>
              <td class="align-middle">
                <CodeBlock
                  source={Object.entries(parseFrame(frame.frame))
                    .map(([k, v]) => `${k}: ${v}`)
                    .join('\n')}
                />
              </td>
              <td class="align-middle">
                <Frame unit={unit} frameName={frameName} />
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </main>
</Layout>
