---
import Resources from '../scripts/resources';
import { parseFrame } from '../scripts/frames';

export interface Props {
  unitName: string;
  frameName?: string;
}

const { unitName, frameName } = Astro.props;

const unitImages = Resources.unit.images;
const unitPlists = Resources.unit.plists;

const image = unitImages[unitName];

const plist = unitPlists[unitName];

const frameKeys = Object.keys(plist.frames);
const frameKey =
  frameName ??
  frameKeys.find((name) => name.includes('breath')) ??
  frameKeys[0];

const frame = parseFrame(plist.frames[frameKey].frame);

const style = `
  background-image: url(${image});
  background-position: left -${frame.x}px top -${frame.y}px;
  width: ${frame.w}px;
  height: ${frame.h}px;
`;
---

<div style={style}></div>
