---
import { units } from '../scripts/resources';
import { parseFrame } from '../scripts/frames';

export interface Props {
  unitName: string;
  frameName?: string;
}

const { unitName, frameName } = Astro.props;

const unit = units[unitName];

const frameKeys = Object.keys(unit.plist.frames);
const frameKey =
  frameName ??
  frameKeys.find((name) => name.includes('breath')) ??
  frameKeys[0];

const frame = parseFrame(unit.plist.frames[frameKey].frame);

const style = `
  background-image: url(${unit.image});
  background-position: left -${frame.x}px top -${frame.y}px;
  width: ${frame.w}px;
  height: ${frame.h}px;
`;
---

<div style={style}></div>
